header {
  background-color: $background-2-color;
  min-height: 400px;
  align-items: center;
  margin-top: 3.3rem;
  .headerSection {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

    p {
      margin: 25px 0;
    }
    .img-accueil {
      display: flex;
      align-items: center;
      img {
        border-radius: 25px;
        margin: 1rem;
      }
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 55px;
    }
}

/*/ RESPONSIVE /*/
@media screen and (max-width: 900px) {
  .img-accueil img {
    width: 300px;
    height: 228px;
  }
}
@media screen and (max-width: 750px) {
  header,
  .section-2 {
    display: block;
  }
  .img-accueil img {
    margin: 2rem 0 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 2.2rem;
  }
}
