#side-bar {
  position: fixed;
  width: 220px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
  top: 0;
  left: 0px;
  transition: 0.5s ease-out;
  z-index: 4;
  margin: 0;
  padding: 0;
  .nav-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    li:hover {
      background-color: #87bfd73f;
      transition: 0.3s ease;
    }
    a {
      color: #292929;
      list-style: none;
      font-size: 2.3rem;
      cursor: pointer;
      padding-left: 5px;
      width: 100%;
      text-transform: capitalize;
      margin: 0.6rem ;
    }
    a:hover {
      transition: 0.2s ease;
    }
  }
}
.toggle-btn {
  position: absolute;
  top: 3px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  span {
    width: 60px;
    height: 7px;
    border-radius: 5px;
    background: $icon-services;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
  }
}
#side-bar.active {
  left: 0;
}
.active span {
  position: absolute;
}
.active span:nth-child(1) {
  transform: rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.active ~ .body {
  opacity: 0.3;
}
