<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
		<link rel="icon" href="../assets/images/cl-logo.png">
    <link rel="stylesheet" href="../assets/style/style.css" />
</head>
<body>
  <!-- NAVBAR  -->
  <nav id="navbar">
    <ul>
        <li>
            <a href="../index.html">accueil</a>
        </li>
        <li>
          <a href="#about">About me</a>
      </li>
        <li>
            <a href="#skills">skills</a>
        </li>
        <li>
            <a href="#contact">contact</a>
        </li>
    </ul>
</nav>
<!-- HEADER  -->
<header id="about">     
  <div class="img-accueil">
    <img src="../assets/images/man-works.avif" alt="man-works">
  </div>
  <div class="container">
    <div>
      <h1>About Me
        </h1>
        <p>Développeur web, je suis un professionnel bilingue qui a récemment embrassé une nouvelle carrière en tant que développeur frontend et backend. Mon parcours de reconversion m'a permis d'acquérir une expertise solide dans la création d'applications web modernes et performantes. Explorez mon portfolio pour découvrir mes dernier projets.</p>
      </div>
    </div>
</header>
<!-- SKILLS  -->
<section id="skills">
  <h2>Skills</h2>
  <div class="skills-list">
    <div class="skills-item">
      <div class="skills-round">
          <img src="../assets/images/icons8-html-96.png" alt="logo-html">
      </div>
      <p>HTML</p>
    </div>
    <div class="skills-item">
      <div class="skills-round">
          <img src="../assets/images/icons8-css-96.png" alt="logo-css">
      </div>
      <p>CSS</p>
    </div>
    <div class="skills-item">
      <div class="skills-round">
          <img src="../assets/images/icons8-javascript-96.png" alt="logo-JavaScript">
      </div>
      <p>JavaScript</p>
    </div>
    <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-react-native-96.png" alt="logo-React">
    </div>
    <p>React</p>
  </div>
  <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-node-js-96.png" alt="logo-Node">
    </div>
    <p>Node.js</p>
  </div>
  <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-sass-avatar-96.png" alt="logo-SASS">
    </div>
    <p>SASS</p>
  </div>
  <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-mongodb-96.png" alt="logo-MongoDB">
    </div>
    <p>MongoDB</p>
  </div>
  <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-graphql-96.png" alt="logo-GraphQL">
    </div>
    <p>GraphQL</p>
  </div>
  <div class="skills-item">
  <div class="skills-round">
      <img src="../assets/images/icons8-netlify-a-cloud-computing-company-that-offers-hosting-and-serverless-backend-services-for-static-websites.-96.png" alt="logo-Netfly">
  </div>
  <p>Netfly</p>
</div>
<div class="skills-item">
  <div class="skills-round">
      <img src="../assets/images/icons8-filezilla-96.png" alt="logo-Filezilla">
  </div>
  <p>Filezilla</p>
</div>
  <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-figma-96.png" alt="logo-Figma">
    </div>
    <p>Figma</p>
  </div>
  <div class="skills-item">
    <div class="skills-round">
        <img src="../assets/images/icons8-github-128.png" alt="logo-Github">
    </div>
    <p>Github</p>
  </div>

  </div>
</section>
<section id="contact">
  <h2>Me contacter</h2>

  <div class="contact-info">
    <div class="contact-mail">
      <a href="mailto:clementmadiot09@gmail.com">
        <img src="../assets/images/icons8-gmail-96.png" alt="mail">
        <p>clementmadiot09@gmail.com</p>
      </a>
    </div>
    <div id="phone" class="contact-phone">
      <a href="tel:+33648501383">
        <img src="../assets/images/icons8-whatsapp-96.png" alt="">
        <p class="phone-number">+33 648 501 383</p>
      </a>
    </div>
  </div>
  <!-- <form method="post" action="#">
      <div class="form-grid">
          <div>
              <label for="name">Name</label>
              <input type="text" id="name" />
          </div>
          <div>
              <label for="email">Email</label>
              <input type="text" id="email" />
          </div>
          <div class="textarea">
              <label for="message">Message</label>
              <textarea id="message"></textarea>
          </div>
      </div>
      <input type="submit" class="button" value="Send Message" />
  </form> -->
</section>
<footer>
  <ul>
      <li>
          <a href="https://github.com/ClementMadiot" target="_blank">
              <i class="fab fa-twitter"></i>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fab fa-facebook-f"></i>
          </a>
      </li>
      <li>
          <a href="#" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
      </li>
      <li>
          <a href="https://www.linkedin.com/feed/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
          </a>
      </li>
      <li>
          <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
              <i class="far fa-envelope"></i>
          </a>
      </li>
  </ul>
</footer>
<script src="./index.js"></script>
</body>
</html>